﻿@using SUAS.Web.Areas.Administration.ViewModels
@model RoleViewModel

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Role</h3>
        </div>
        <form asp-controller="Roles" asp-action="Create" method="post" class="form-horizontal">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="RoleName" class="form-control" placeholder="Role Name">
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a asp-controller="Roles" asp-action="Index" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
        </form>
    </div>
</section>