﻿@using SUAS.Web.Areas.Administration.ViewModels
@model IEnumerable<RoleListViewModel>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Roles</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <a asp-controller="Roles" asp-action="Create" class="btn bg-olive margin text-center">
            Add Role
        </a>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Role Name</th>
                    <th>Description</th>
                    <th>NumberOfUsers</th>
                    <th></th>
                </tr>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.RoleName</td>
                        <td>@role.Description</td>
                        <td>@role.NumberOfUsers</td>
                        <td id="@role.RoleName.ToLower()">
                            <a asp-area="Administration" asp-controller="Roles" asp-action="Edit" asp-route-id=@role.Id class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            @if (role.NumberOfUsers == 0)
                            {
                                <a asp-area="Administration" asp-controller="Roles" asp-action="Delete" asp-route-id=@role.Id id="confirmDialog" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>