﻿@inject IUserService Users
@{
    var currentUser = Users.GetUserByUserName(User.Identity.Name);
}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Images/ProfilePictures/@currentUser.ProfilePictureName" class="img-circle" alt="avatar">
            </div>
            <div class="pull-left info">
                <p>@currentUser.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        @await Html.PartialAsync("_MenuPartial")
    </section>
</aside>