﻿@inject IUserService Users
@{
    var currentUser = Users.GetUserByUserName(User.Identity.Name);
}
<header class="main-header">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
        <span class="logo-mini"><img style="width: 95%" src="~/Images/SoftUni_Logo_Small.png" alt="logo-mini" /></span>
        <span class="logo-lg"><img src="~/Images/SoftUni_Logo.png" alt="logo-lg" /></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Images/ProfilePictures/@currentUser.ProfilePictureName" class="user-image" alt="User Image">
                        <span class="hidden-xs text-black">@currentUser.UserName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Images/ProfilePictures/@currentUser.ProfilePictureName" class="img-circle" alt="User Image">
                            <p class="text-black">
                                @currentUser.UserName
                                @(currentUser.Position != null ? $"- {currentUser.Position}" : "")

                                <small>Member since @(currentUser.CreatedOn.ToString("MMM. yyyy"))</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            @*<div class="pull-left">
                                <a asp-area="" asp-action="Profile" asp-controller="Account" class="btn btn-default btn-flat">Profile</a>
                            </div>*@
                            <div class="pull-right">
                                <form asp-area="" asp-action="Logout" asp-controller="Account" method="post">
                                    <button class="btn btn-default btn-flat">Sign Out</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>