﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SoftUni Admin System | @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/blitzer/theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/blitzer/jquery-ui.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/dist/css/style.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_HeaderPartial")

        @await Html.PartialAsync("_AsidePartial")
        <div class="content-wrapper">
            <section class="content container-fluid">
                @{
                    var hidden = "hidden";
                    var alertType = "alert-danger";
                    if (TempData["MessageState"] != null)
                    {
                        if (TempData["MessageState"].ToString() == "Success")
                        {
                            alertType = "alert-success";
                        }
                        hidden = string.Empty;
                    }
                    
                }
                <div class="alert @alertType alert-dismissible @hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> @TempData["MessageState"]!</h4>
                    @TempData["Message"]
                </div>
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Developed by Christian Pamidoff
            </div>
            <strong>Copyright &copy; 2017 <a href="#">SoftUni Admin System</a>.</strong> All rights reserved.
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/SidebarStateHolder.js"></script>
    <script src="~/dist/js/PreventSidebarMultipleClick.js"></script>
    <script>
        $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-danger").slideUp(500);
        });
        $(".alert-success").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-success").slideUp(500);
        });
    </script>
    @await Html.PartialAsync("Modal")
</body>
</html>