﻿@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<Role> RoleManager
@inject IUserService Users
@{
    var currentUser = Users.GetUserByUserName(User.Identity.Name);
}
<ul class="sidebar-menu" data-widget="tree">
    @if (await UserManager.IsInRoleAsync(currentUser, "Administrator"))
    {
        <li class="header">Administration</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Administration</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-area="Administration" asp-controller="Roles" asp-action="Index">Roles</a></li>
                <li><a asp-area="Administration" asp-controller="Groups" asp-action="Index">Groups</a></li>
            </ul>
        </li>

        <li class="header">Management</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Training</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Training" asp-controller="Course" asp-action="Index">Courses</a></li>
            </ul>
        </li>
    }
</ul>