﻿<!-- Modal -->
<div class="modal fade" id="dialog-confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Do you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="btnDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('body').on('click',
            '#confirmDialog',
            function (e) {
                e.preventDefault();
                deleteLinkObj = $(this);
                $('#dialog-confirm').modal();
            });
        
        $('#btnDelete').click(function () {
            $.post(deleteLinkObj[0].href,
                function () {
                    deleteLinkObj.closest(".row").hide('fast');
                }).then(() => {
                location.reload();
            });
            $('#dialog-confirm').modal('hide');
        });
    });
</script>