﻿@using SUAS.Web.ViewModels.AccountViewModels
@model SUAS.Web.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Sign in | SUAS";
    Layout = "_UserAreaLayout";
}

<div class="login-box-body">
    <p class="login-box-msg">Sign in</p>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group has-feedback">
            <input asp-for="UserName" class="form-control" placeholder="Username">
            <span asp-validation-for="UserName" class="text-danger"></span>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <input asp-for="RememberMe">
                    <label asp-for="RememberMe"></label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </div>
    </form>
    <a asp-controller="Account" asp-action="Register" class="text-center">Register a new membership</a>
</div>

