﻿@using SUAS.Web.ViewModels.AccountViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign Up | SUAS";
    Layout = "_UserAreaLayout";
}

<div class="register-box-body">
    <p class="login-box-msg">Register</p>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group has-feedback">
            <input asp-for="UserName" class="form-control" placeholder="Username">
            <span asp-validation-for="UserName" class="text-danger"></span>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Retype password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
        </div>
    </form>

    <a asp-controller="Account" asp-action="Login" class="text-center">I already have a membership</a>
</div>
