﻿@using SUAS.Web.Areas.Administration.ViewModels
@model GroupViewModel

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Group</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form asp-controller="Groups" asp-action="Create" method="post" class="form-horizontal">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GroupName" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="GroupName" class="form-control" placeholder="Group name" required="required">
                        <span asp-validation-for="GroupName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LeaderUserName" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="LeaderUserName" class="form-control" placeholder="Leader username" required="required">
                        <span asp-validation-for="LeaderUserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-controller="Groups" asp-action="Index" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>