﻿@using SUAS.Web.Areas.Administration.ViewModels
@model IEnumerable<GroupListViewModel>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Groups</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <a asp-controller="Groups" asp-action="Create" class="btn bg-olive margin text-center">
            Add Group
        </a>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Group Name</th>
                    <th>Child groups</th>
                    <th>Number of users</th>
                    <th></th>
                </tr>
                @foreach (var group in Model)
                {
                    <tr>
                        <td>@group.Id</td>
                        <td><a asp-area="Administration" asp-controller="Groups" asp-action="Show" asp-route-id="@group.Id">@group.GroupName</a></td>
                        <td>@group.NumberOfChilds</td>
                        <td>@group.NumberOfUsers</td>
                        <td>
                            @if (group.NumberOfUsers == 0)
                            {
                                <a asp-area="Administration" asp-controller="Groups" asp-action="Delete" asp-route-id=@group.Id id="confirmDialog" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>