﻿@using SUAS.Web.Areas.Administration.ViewModels
@model SUAS.Web.Areas.Administration.ViewModels.GroupViewModel

<p>Group name: @Model.GroupName</p>
<p>Parent group name: @Model.Parent.Name</p>
<p>Leader: @Model.LeaderUserName</p>

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users in group</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover users">
                    <tbody>
                        <tr>
                            <th>Username</th>
                            <th></th>
                        </tr>
                        @foreach (var participant in Model.Participants)
                        {
                            <tr>
                                <td>@participant.UserName</td>
                                <td>
                                    <a asp-area="Administration" asp-controller="Groups" asp-action="RemoveUserFromGroup" asp-route-groupId="@Model.Id" asp-route-userName="@participant.UserName" class="btn btn-danger pull-right">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-primary" id="btnAddUser">Add</button>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Child Groups</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table table-hover child-groups">
                    <tbody>
                        <tr>
                            <th>Group name</th>
                            <th>Leader username</th>
                            <th></th>
                        </tr>
                        @foreach (var childGroup in Model.Childs)
                        {
                            <tr>
                                <td><a asp-action="Show" asp-route-id="@childGroup.GroupId">@childGroup.Name</a></td>
                                <td>@childGroup.Leader.UserName</td>
                                <td>
                                    <a asp-area="Administration" asp-controller="Groups" asp-action="RemoveChildGroup" asp-route-groupId="@Model.Id" asp-route-groupName="@childGroup.Name" class="btn btn-danger pull-right">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-primary" id="btnAddChild">Add</button>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnAddUser").click(function () {
            $(".users tbody").append(
                '<tr><td><form method="post" action="/Administration/Groups/AddUserToGroup?GroupId=' + @Model.Id + '">' +
                '<input class="users" name="UserName" type= "text" autofocus= "autofocus" placeholder= "Username" /></form ></td > <td></td></tr > ');

            $(() => {
                var availableUsernames = [];
                $.ajax({
                    type: 'GET',
                    url: '/Administration/Groups/GetAllUsers/',
                    success: (result) => {
                        availableUsernames = result;
                        $(".users").autocomplete({
                            source: availableUsernames
                        });
                    },
                    error: (result) => {
                        console.log(result)
                    }
                });
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#btnAddChild").click(function () {
            $(".child-groups tbody").append(
                '<tr><td><form method="post" action="/Administration/Groups/AddChildGroup?GroupId=' + @Model.Id + '"><input class="childs" name="groupName" type="text" autofocus="autofocus" placeholder="Group name" /></form></td><td></td></tr>');

            $(() => {
                var availableUsernames = [];
                $.ajax({
                    type: 'GET',
                    url: '/Administration/Groups/GetAllGroups/',
                    success: (result) => {
                        availableUsernames = result;
                        $(".childs").autocomplete({
                            source: availableUsernames
                        });
                    },
                    error: (result) => {
                        console.log(result)
                    }
                });
            });
        });
    });
</script>