﻿@using SUAS.Web.Areas.Training.ViewModels
@using SUAS.Models.Enums
@model CourseViewModel

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Course</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form asp-controller="Course" asp-action="Create" method="post" class="form-horizontal">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" required="required">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CourseType" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="CourseType" asp-items="Html.GetEnumSelectList<CourseType>()" class="form-control" required="required">
                            <option value="">Please select</option>
                        </select>
                        <span asp-validation-for="CourseType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CourseModel" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="CourseModel" asp-items="Html.GetEnumSelectList<CourseModel>()" class="form-control" required="required">
                            <option value="">Please select</option>
                        </select>
                        <span asp-validation-for="CourseModel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CapaignStartDate" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="CapaignStartDate" class="form-control" required="required" type="date">
                        <span asp-validation-for="CapaignStartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstLecture" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="FirstLecture" class="form-control" required="required" type="date">
                        <span asp-validation-for="FirstLecture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastLecture" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="LastLecture" class="form-control" required="required" type="date">
                        <span asp-validation-for="LastLecture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ExamDate" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="ExamDate" class="form-control" required="required" type="date">
                        <span asp-validation-for="ExamDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LectureWeeks" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="LectureWeeks" class="form-control" required="required">
                        <span asp-validation-for="LectureWeeks" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ExamType" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="ExamType" asp-items="Html.GetEnumSelectList<ExamType>()" class="form-control" required="required">
                            <option value="">Please select</option>
                        </select>
                        <span asp-validation-for="ExamType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Credits" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="Credits" class="form-control" required="required">
                        <span asp-validation-for="Credits" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-controller="Course" asp-action="Index" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>