﻿@using SUAS.Web.Areas.Training.ViewModels
@model IEnumerable<CourseListViewModel>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Courses</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <a asp-controller="Course" asp-action="Create" class="btn bg-olive margin text-center">
            Add Course
        </a>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                    <th>Lecture weeks</th>
                    <th>Course model</th>
                    <th>Course type</th>
                </tr>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td><a asp-area="Training" asp-controller="Course" asp-action="Show" asp-route-id="@course.Id">@course.Name</a></td>
                        <td>@course.Credits</td>
                        <td>@course.LectureWeeks</td>
                        <td>@course.CourseModel</td>
                        <td>@course.CourseType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>