﻿@model SUAS.Web.Areas.Training.ViewModels.CourseViewModel

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header text-center">
                <h2 class="box-title">@Model.Name</h2>
                <p>Course type: @Model.CourseType</p>
                <p>Course model: @Model.CourseModel</p>
                <p>Start: @Model.FirstLecture.ToShortDateString() -  End: @Model.LastLecture.ToShortDateString()</p>
                <p>Exam: @Model.ExamType - @Model.ExamDate.ToShortDateString()</p>
                <p>Credits: @Model.Credits</p>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover tasks">
                    <tbody>
                        <tr>
                            <th>Responsible</th>
                            <th>Process</th>
                            <th>Due date</th>
                            <th>Completed</th>
                        </tr>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr class="task-info">
                                <td><a asp-area="Administration" asp-controller="Groups" asp-action="Show" asp-route-id=@task.Id></a>@task.ResponsibleGroup.Name</td>
                                <td>@task.Process</td>
                                <td>@task.DueDate.ToShortDateString()</td>
                                <td>
                                    @if (task.Completed)
                                    {<i class="fa fa-check" aria-hidden="true"></i> }
                                    else
                                    { <i class="fa fa-times" aria-hidden="true"></i>}
                                </td>
                                <td>
                                    @if (!task.Completed)
                                    {
                                        <a class="btn btn-success" asp-area="Training" asp-controller="Task" asp-action="CompleteTask" asp-route-id=@task.Id>Complete</a>
                                    }
                                    else
                                    {
                                        <span>Completed on @task.CompletedOn.ToShortDateString()</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-primary" id="btnAddTask">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#btnAddTask").click(function() {
            var btnText = $('#btnAddTask').text();
            if (btnText == 'Close') {
                $(".task-info").last().remove();
                $('#btnAddTask').text('Add');
            } else {
                $(".tasks tbody").append(
                    $('<tr>').addClass('task-info')
                    .append(
                        $('<form>').attr('method', 'post').attr('action', '/Training/Task/CreateTask?id=' + @Model.Id)
                        .append(
                            $('<td>')
                            .append(
                            $('<input>').addClass('tasks-auto').attr('name', 'ResponsibleGroupName').attr('type', 'text').attr('autofocus', 'autofocus').attr('placeholder', 'Group name')
                        ),
                        $('<td>')
                            .append(
                                $('<input>').addClass('process').attr('name', 'Process').attr('type', 'text').attr('placeholder', 'Process')
                            ),
                            $('<td>')
                            .append(
                                $('<input>').addClass('dueDate').attr('name', 'DueDate').attr('type', 'date').attr('placeholder', 'Due date')
                            ),
                            $('<td>')
                            .append(
                                $('<input>').addClass('btn btn-success').attr('type', 'submit').attr('value', 'save')
                            )
                        )
                    )
                );
                $("#btnAddTask").text('Close');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#btnAddTask").click(function () {
            $(() => {
                var availableUsernames = [];
                $.ajax({
                    type: 'GET',
                    url: '/Administration/Groups/GetAllGroups/',
                    success: (result) => {
                        availableUsernames = result;
                        $(".tasks-auto").autocomplete({
                            source: availableUsernames
                        });
                    },
                    error: (result) => {
                        console.log(result);
                    }
                });
            });
        });
    });
</script>