﻿@model int
@{
    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusmessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusmessage = "That’s odd... Something we didn't expect happened";
            break;
    }
    ViewData["Title"] = statusmessage;
}
<section class="content container-fluid">
    <div class="error-page">
        <h2 class="headline text-yellow"> @statusCode</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> @statusmessage</h3>

            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a asp-controller="Home" asp-action="Index">return to dashboard</a> or try using the search form.
            </p>
        </div>
    </div>
</section>