﻿@using SUAS.Web.Areas.Administration.ViewModels
@model EditUserViewModel

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit User</h3>
        </div>
        <form asp-controller="Users" asp-action="Edit" method="post" class="form-horizontal">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="UserName" class="form-control" required="required">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control" required="required">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationRoleId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="ApplicationRoleId" asp-items="Model.ApplicationRoles" class="form-control" required="required">
                            <option value="">Please select</option>
                        </select>
                        <span asp-validation-for="ApplicationRoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a asp-controller="Users" asp-action="Index" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Edit</button>
            </div>
        </form>
    </div>
</section>