﻿@using SUAS.Web.Areas.Administration.ViewModels
@model IEnumerable<UserListViewModel>
@inject IUserService Users
@{
    var currentUser = Users.GetUserByUserName(User.Identity.Name);
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Users</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <a asp-controller="Users" asp-action="Create" class="btn bg-olive margin text-center">
            Add User
        </a>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-area="Administration" asp-controller="Users" asp-action="Edit" asp-route-id=@user.Id class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            @if (currentUser.Id != user.Id)
                            {
                                <a asp-area="Administration" asp-controller="Users" asp-action="Delete" asp-route-id=@user.Id id="confirmDialog" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            }                                                                                                                                                                                     </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>